server:
  port: 8080

spring:
  datasource:
    # Am schimbat /customer in /alexandru (baza de date implicita)
    url: jdbc:postgresql://localhost:5332/todo
    username: alexandru
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      # create-drop va sterge si recrea tabelele la fiecare pornire
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  main:
    web-application-type: servlet