.phone-screen{
    width: 375px;
    height: 667px;
    border: 16px black solid;
    border-top: 60px black solid;
    border-bottom: 60px black solid;
    border-radius: 36px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.25);
    margin: 20px auto;
    background-color: rgb(4, 72, 173);
}

.title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 70px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(0, 179, 255);
    color: whitesmoke;
    text-shadow: 2px 2px 6px darkblue;
}

.container-events{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 50px auto;
}